.container {
  /* This height calc needs to be in this component in order to hide the scrollbar */
  height: calc(100vh - 50px);
  overflow-y: scroll;
  border-bottom: 2px solid black;
}

.rootPost {
  border-bottom: 2px solid black;
}

.container::-webkit-scrollbar {
  display: none;
}
