.container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 50px;
  background-color: rgb(52, 52, 52);
  border-bottom: 1px;
  border-color: lightgray;
  padding: 8px 8px 8px 0;
}

.buttons {
  display: flex;
  flex: 1;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.title {
  display: flex;
  text-align: left;
  align-items: center;
}
